

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    
}

h1 {
    
    margin-left: 30px;
    padding: 10px;
    
}
#principalVS{
    display:inline-block;
    width: 100%;
    
}
/*Position the image container (needed to position the left and right arrows*/
.container {
    position: relative;
    margin: auto 15px 15px 15px;
    border: 1px solid blanchedalmond;
    width: 55%;
    float: left;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

/* Hide the images by default */
.mySlides {
    
    display: none;
    border-radius: 10px;
    background-color: rgba(91, 165, 35, 0.756);
    
}
.mySlides img {
    border-radius: 10px;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: -2.7px;
}
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -112px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.534);
    
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    display: none;
}
.dot {
    display: inline-block;
    border-radius: 50%;
    background-color: #bbb;
    height: 15px;
    color: white;
    margin: 10px auto;
    width: 15px;
    opacity: 0.5;
    user-select: none;
}

.row {
max-width: 600px;
margin: 0px auto;
}
.row::after {
    content: '';
    display: table;
    clear: both;
    
}

/* Six columns side by side */
.column {
    float: left;
    width: 15.96%;
    margin: 2px
    
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    border-radius: 5px;
}
.active, .demo:hover {
    opacity: 1;
}
#info-aside {
    color: white;
    float: left;
    width: 35%;
    margin: 15px;
}

.car-details {
    min-height: 75px;
    border: 1px solid white;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    margin: -10px 0px 15px 0px;
    
}

#nomeVeiculo{
    font-size: large;
    font-weight: 550;
}

#kmVeiculo{
    font-size: 0.8em;
    margin: 5px;
    padding-top: 10px;
}

#valorVeiculo{
    padding: 15px;
    font-size: 1.2em;
    font-weight: 800;
}
#valorVeiculo span{
    font-size: 0.8em;
    font-weight: 400;
}

#anoVeiculo{
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: 800;
}

#lastDetail{
    font-style: oblique;
}
#boton{
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (max-width: 768px){

    .container {
        margin: auto;
        padding: 10px;
        width: 100%;
    }
    #car-info {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .car-details {
        width: 100%;
        border-radius: 15px;
        margin: 5px 0px;
        
    }
}