
@media only screen and (max-width: 768px){

    header {
        display: block;
        width: 100%;
        background-color: black;
        
    }
    #mobile-nav{
        display: block;
        color: white;
        font-size: 0.5em;
        margin-left: 10px;
    }
    #mobile-nav>h1{
        color: white;
        text-align: left;
    }
    #mobile-nav>h1>span {
        float: left;
        margin-right: 10px;
        font-size: 2.5em;
    }
    #bemvindos{
        visibility: hidden;
        height: 30px;
    }
    .material-symbols-outlined {
        color: white;
        display: block;
        padding: 10px;
    }
    .material-symbols-outlined:hover {
        cursor: pointer;

    }
    #menuList{
        display: none;
        margin: 0;
        border-radius: 10px;
        width: 100%;
    }
    #menuList ul li a {
        display: block;
        padding: 10px;
        
    }
    .gallery {
        width: 378px;
     }
     #destk-home{
        display: none;
     }
     #secao3 > div {
        width: 50%;
        margin: 10px;
        
    }
    #link-redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        
    }
    #redes a{
        margin:8px;
        
    }
}