@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poltawski+Nowy:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sriracha&display=swap');
@font-face {
    font-family: vgr;
    src: url(../Fontes/starduster2expandital.ttf) format('opentype');
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(56, 56, 56);
    
}

#galleria {
    display: flex;
    max-width: 960px;

    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.gallery {
    width: 280px;
    padding: 2px;
    margin: 10px 1px;
}

div.gallery img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}
.descrip {
    background-color: white;
    color: black;
    padding: 5px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 0px;
    font-size: 0.9em;
}

div.gallery:hover {
    border: 2px solid #b2adad;
    border-radius: 8px;
}
.vgr{
    font-family: vgr;
    font-style: italic;
    font-weight: 80;
    font-size: larger;
    color: #F7941D;
}
#bemvindos {
    text-align: center;
    max-width: 860px;
    height: auto;
    color: #F7941D;
    margin: 5px auto;
}
#imgface{
    border-radius: 50%;
    background-color: white;
    padding: 1px;
}

#video-principal {
    display: none;
    margin:auto;
}
#apresenta {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    background-color: rgb(18, 19, 19);
    margin: 20px 20px;  
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.649);
    border-radius: 15px;
}

#apresenta > div {
    flex-wrap: wrap;
    flex: 0 1 400px;
    text-align: justify;
    margin: 5px auto;
    color: #f3fafa;
    padding: 10px;
}
.corte-preço{
    text-decoration: line-through;
    color: darkgray;
}
.precio {
    color:#3374DB;
    font-size: 12px;
}

#qsomos {
    color: #fefdfa5e;
    margin-bottom: 10px;
}
#nossa-historia {
    margin-bottom: 10px;
    background-color: #d0bc985e;
    border-radius: 5px;
}
#nossa-historia h2{
    margin-bottom: 10px;
    color: #fefdfa5e;
}




